/* Your styles here */

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #fff;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*{
    font-family: Arial;
    font-weight: 400;
    font-style: normal;
    leading-trim: NONE;
    letter-spacing: 0px;
}

h1 {
    width: 478;
    height: 68;
    border-width: 1px;

    font-size: 60px;
    line-height: 68px;

    text-shadow: 0px 4px 4px #00000040;
    color: hsla(0, 0%, 0%, 1);
    
    text-align: center;

    margin: 96px 481px 0 481px;
}

.banner {
    width: 100vw;
    margin: 48px 0;
}

main {
    font-family: Arial;
}

.main-content {
    /* Roughly equal to 970px/1440px */
    width: 970px;
    margin: 0px auto;
}

.dropdown-container {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    width: 100%;
    height: 28px;
    font-size: 16px;
}

.dropdown-container label {
    line-height: 28px;
    font-family: Arial;
    text-align: right;
    color: hsla(0, 0%, 0%, 1)

    /* Just for appearance */
}

.dropdown-container select {
    line-height: 100%;
}

hr {
    margin: 24px 0;
}

.cards-container {
    padding: 0px 57px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px 24px;
    max-width: 100%;
    margin: 0 0 96px 0;
}

.cards-container img {
    width: 100%;
    display: block;
}

h2 {
    font-size: 24px;
    line-height: 32px;

    color: hsla(0, 0%, 0%, 1);
}

h5 {
    font-size: 16px;
    line-height: 16px;

    color: hsla(0, 0%, 0%, 0.7);
}

p {
    line-height: 24px;
    font-size: 16px;

    color: hsla(0, 0%, 0%, 1);
}
