/* Your styles here */

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #fff;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

h1 {
    width: 600px;
    height: 68px;
    /* There's a 1px invisible border apparently */
    border: 1px 1px 1px 1px;

    /* Additional padding to make it look more similiar to the Figma */
    padding: 30px;

    font-family: Arial;
    font-weight: 400px;
    font-style: normal;
    font-size: 60px;
    line-height: 68px;
    text-shadow: 0px 4px 4px hsl(0, 0%, 0%);
    display: block;
    margin: 0 auto;
}

.banner {
    width: 100vw;
    padding: 15px 0;
}

main {
    width: 100vw;
    font-family: Arial;
}

.main-content {
    /* Roughly equal to 970px/1440px */
    width: 67vw;
    margin: 0px auto;
}

.dropdown-container {
    display: flex;
    justify-content: flex-end;
    gap: 1px;
    width: 100%;
    height: 28px;
    font-size: 16px;
    /* More additional padding */
    padding: 5px 0;
}

.dropdown-container label {
    line-height: 28px;
    /* Just for appearance */
    margin: 0 5px 0 0;
}

.dropdown-container select {
    line-height: 100%;
}

.cards-container {
    /* Additional padding again. */
    padding: 2px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    max-width: 100%;
}

.cards-container img {
    width: 100%;
    display: block;
}

h2 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
    color: hsl(0, 0%, 30%);
}

p {
    line-height: 24px;
    font-size: 16px;
}
