/* Your styles here */

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #fff;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 0px 5px 4px hsl(0, 0%, 0%);
}

.banner {
    width: 100vw;
}

main {
    width: calc(60vw + 50px);
    margin: 0 auto;
    /* text-align: center; */
}

.dropdown-container {
    display: flex;
    justify-content: flex-end;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.main-content div img, .main-content div p{
  width: 100%;
}

.main-content div{
  /* display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: 30vw; */
  width: 500px;
}

#sort-by{
  margin: 0 0 0 5px;
}
